@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 style="margin-bottom: 15px;">LoggerAnalyzer2</h1>
    <ul style="margin-left: 25px; margin-bottom: 20px;">
        <li><a href="/">Home</a></li>
        <li><a href="/LogTable">Таблица логов</a></li>
        <li><a href="/Privacy">Privacy</a></li>
    </ul>
</div>
