@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="container">
    <h2>Политика конфиденциальности</h2>
    
    <p>LoggerAnalyzer2 анализирует только информацию о вызовах логирования в вашем коде.</p>
    
    <p>Мы не собираем личные данные пользователей или содержимое логов.</p>
    

    
    <p>Последнее обновление: 8 мая 2025 г.</p>
</div>
